---
import DefaultFooter from '@astrojs/starlight/components/Footer.astro';
---

<DefaultFooter {...Astro.props}>
    </slot>
</DefaultFooter>

<div class="custom-footer">
  <div class="footer-links">
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
  </div>
<p class="footer-description">
    © 2026 SriGuide <br>
    Made with ❤️ by <a href="https://github.com/dilshan-h" target="_blank">dilshan-h</a>
</p>
</div>


<style>
  .custom-footer {
    text-align: center;
    padding: 2rem 1rem;
    padding-bottom: 0rem;
    border-top: 1px solid var(--sl-color-gray-6);
    color: var(--sl-color-gray-2);
  }

  .footer-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .footer-links a {
    color: var(--sl-color-gray-3);
    transition: color 0.2s ease;
    text-decoration: none;
  }

  .footer-links a:hover {
    color: var(--sl-color-accent);
    font-weight: 600;
  }

  .custom-footer p a {
    color: var(--sl-color-accent);
  }

  .footer-description {
    color: var(--sl-color-gray-4);
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .footer-description a {
    text-decoration: none;
  }
  .footer-description a:hover {
    text-decoration: underline;
  }
</style>